/* COLOR PALLETE */
:root {
    --dark-green: #0E4019;
    --light-green: #9FBC2E;
    --primary-green: #097645;
    --background-color: #E8EDEF;
    --almond: #D9E3C3;
    --font-primary: #6F7272;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    /* background-color: var(--background-color); */
    color: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER STYLYNG */
h1.hero-h1 {
    font-weight: 700;
    font-size: 50px;
}

p.hero-paragraph {
    font-size: 17px;
}

.hero-h1 {
    color: var(--dark-green);
}

.hero-span {
    color: var(--light-green);
}


/* LOGO */
.header-logo-2 img {
    width: 100px;
}

/* MEDIA QUERYES RESPONSIVE */
@media (max-width: 576px) {
    .header-logo-1 img {
        width: 100% !important;
    }

    .header-logo-2 img {
        width: 60px;
    }

    .main-order {
        order: -1 !important;
    }

    h1.hero-h1 {
        font-size: 34px;
        text-align: center;
    }

    .hero-paragraph {
        text-align: justify;
    }

    .container {
        margin: 0% 1% !important;
    }
}

/* FLOAT */

/* .circle {
    display: flex;
    align-items: center;
    align-self: center;
    background-color: #E8EDEF;
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
}

.fload-1 {
    position: absolute;
    bottom: 50px;
    background-color: #097645;
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
}

.fload-2 {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #9FBC2E;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

.fload-3 {
    position: absolute;
    right: 0;
    top: 40%;
    background-color: #D9E3C3;
    height: 19vh;
    width: 19vh;
    border-radius: 100%;
} */